*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    padding: 0;
    background: #f5f4f4;
    font-family: "Inter", sans-serif;
    margin: 0;
}


:root {
  /* Colores principales */
  --color-bg-light: #dcf2fc;
  --color-shadow: rgba(0, 0, 0, 0.1);

  /* Puedes ir agregando más según los uses, por ejemplo: */
  --color-primary: #3498db;     /* Un azul para botones o links */
  --color-accent: #1abc9c;      /* Verde azulado para resaltar cosas */
  --color-text-dark: #444444;   /* Texto oscuro */
  --color-text-light: #ffffff;  /* Texto claro */
}


.head{
    position: fixed;
    padding: 2% 10% 2% 0% ;
    width: 100%;
    top:0%;
    left: 0%;
    height: 80px;
    background: var(--color-bg-light);
    z-index: 1000;
    box-shadow: 0px 5px 10px var(--color-shadow);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
}

.nav-toggle{
    background: none;
    border: none;
    color: rgb(77, 77, 77);
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    display: none;
}

.list{
    list-style: none;
    margin-top: 6px;
    display: flex;
    gap: 20px;
}

.list a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.list li a:hover{
    color:rgb(122, 122, 122);
    border-bottom: 1px solid rgb(85, 84, 84);
}

.list li ion-icon{
    opacity: 0;
}

.nav span{
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.nav span a{
    color: #757474b6;
    font-size: 50px;
    text-decoration: none;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .nav-toggle{
        display: block;
        font-size: 55px;
        margin-top: -2%;
    }

    .nav span{
        margin-top: -2%;
}

.head{
    background: var(--color-bg-light);
    height: 60px;
    max-width: 90%;
    margin: 0;
    flex-wrap: wrap;
    word-wrap: break-word;
}

.list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
   background: var(--color-bg-light);
  border-radius: 10px;
  width: 95%;  
  height: 350px;
  margin: 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  top: 60px;
  transform: translateX(115%); /* se oculta a la derecha */
  transition: transform 0.5s ease-in-out;
  flex-wrap: wrap;
    overflow-x: hidden;
}
.list.active {
  transform: translateX(0); /* vuelve a su lugar */
}


.list li {
  list-style: none;
  width: 90%;
}

.list li a {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  color: #0077b6; /* Azul claro elegante */
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  border-radius: 6px;
  background: var(--color-text-light);
  text-align: center;
  transition: all 0.3s ease-in-out;
  height: 100%;
}


.list li a:hover {
  background: var(--color-bg-light);
  color: #03045e;
  transform: scale(1.08);
  box-shadow: 0 8px 15px rgba(0, 162, 255, 0.3);
}

.list li ion-icon{
    opacity: 1;
    font-size: 50px;
}
}

.contenedor-fondo-1{
    width: auto;
}

.fondo_1{
    background-image: url('img/study-7217599_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondo_1 h2{
    color: #fcfd9c;
    margin-left: 35%;
    margin-top: -20%;
    padding: 10%;
    font-size: 35px;
}

.cards-img{
    display: flex;
    flex:2;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
    width: auto;
    margin: 10px;
    border-radius: 8px;
    background: var(--color-text-light);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.068);
    gap: 10px;
}

.cards-img img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 5px;
}



.cards-img .text p{
    font-size: 25px;
}

.contenerdor-body{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    position: relative;
}

.contenedor-block{
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 760px;
    flex-wrap: wrap;
}

.contenedor-block .titulo {
    text-align: center;
}


.contenedor-registro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37rem;
    position: sticky;
    top: 70px;
}



.registro-formulario{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 23rem;
    box-shadow: none;
    height: 35rem;
    min-height: 30rem;
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    white-space: normal;
    justify-content: center;
    background-color: white;
    gap: 8px;
    border-radius: 10px;
}

.text-input{
    background: rgba(236, 235, 235, 0.5);
    padding: 10px 15px;
    border-radius: 10px 0px;
    border: none;
    border-bottom: 1px solid transparent;
}


.text-input:focus{
    outline: none;
    border-bottom-color:  rgba(77, 77, 77, 0.459);
    
}


.enviar{
    border: none;
    padding: 10px 19px;
    background: var(--color-primary);
    border-radius: 10px 0px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
}

.contenedor-cards-p{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtext{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subtext h2{
    font-size: 27px;
    color: rgba(0, 0, 0, 0.63);
}

.contenedor-2{
    display: flex;
    padding: 10px; 
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.crad-problem{
    border-left: 1px solid rgba(0, 0, 0, 0.123);
    border-right: 1px solid rgba(0, 0, 0, 0.185);
    height: 15rem;
    min-height: 13rem;
    width: 15rem;
    min-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    cursor: default;
    margin-bottom: 5%;
}

.crad-problem p{
    font-size: 13px;
    text-align: center;
    color: rgba(0, 0, 0, 0.575);
}

.crad-problem ion-icon{
    font-size: 50px;
    color: rgba(151, 151, 151, 0.507);
    border-radius: 50%;
    border: 1px gray dashed;
    padding: 2px;
}

.crad-problem::-webkit-scrollbar{
    display: none;
}


@media (max-width: 768px) {
    .cards-img{
    flex-direction: column;
    
 }

 .contenedor-2{
    justify-content: space-around;
    width: 100%;
    overflow-x: auto;
    margin-top: 5%;
}

.fondo_1 h2{
    margin: 10%;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.274);
}

.contenerdor-body{
    flex-direction: column;
}

.contenedor-registro{
    margin-top: 10px;
    margin-bottom: 6%;
}
.registro-formulario{
    padding: 40px;
    width: 88%;
    box-shadow: none;
    height: 35rem;
    gap: 10px;
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    white-space: normal;
}
}


.contenedor-planes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    padding: 6% 6%;
    width: 100%;
    gap: 15px;
    min-height: 35rem;
}

.contenedor-planes .card-planes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20rem;
    height: 100%;
    padding: 30px;
    border: 1px solid #1e90ff;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 6px 10px rgba(29, 29, 29, 0.397);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
}

/* Estado inicial */
.anim-fade-in,
.anim-slide-up,
.anim-zoom-in,
.fade-in-left,
.fade-in-right{
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-out;
}

.anim-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.anim-slide-up {
  transform: translateY(60px);
}
.anim-slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.anim-zoom-in {
  transform: scale(0.85);
}
.anim-zoom-in.visible {
  opacity: 1;
  transform: scale(1);
}
.fade-in-left {
  transform: translateX(-50px);
}
.fade-in-right {
  transform: translateX(50px);
}

.fade-in-left.visible  {
    opacity: 1;
  transform: translateX(0px);
}
.fade-in-right.visible  {
    opacity: 1;
  transform: translateX(0px);
}



.contenedor-planes .card-planes li{
    color: rgba(0, 0, 0, 0.671);
    margin-bottom: 1%;
    font-size: 15px;
}

.contenedor-planes .card-planes span{
    font-size: 35px;
}

.contenedor-planes .card-planes h3{
    font-size: 29px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 7%;
    gap: 20px;
    background: var(--color-text-light);
}

.section .servicios{
    border: 1px solid var(--color-primary);
    padding: 2%;
    border-radius: 10px;
    transition: all .5s ease;
    max-width: 700px;
    cursor: default;
}

.section .servicios:hover{
    box-shadow: 0px 5px 10px var(--color-shadow);
    transform: translateY(-10px);
    transition: all .5s ease;
}

.section .servicios h3{
    padding: 10px;
}

@media (max-width: 768px){
    .contenedor-planes{
        max-height: 30rem;
    }

    .contenedor-planes::-webkit-scrollbar{
    display: none;
}
}
 
.footer{
    position: relative;
    width: 100%;
    background: var(--color-text-dark);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
    list-style: none;
}

.iconos{
    color: #ffffff;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: all .10s ease;
}

.iconos:hover{
    transform: translateY(-10px);
    transition: all .10s ease;
}

.footmenu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-element-foot{
    list-style: none;

}

.menu-icono{
    color: #ffffff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.76;
    transition: .5s;
}

.menu-icono:hover{
    opacity: 1;
 }

 .foottext{
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
 }
